.portfolio_container{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    gap: 2.5rem;
    margin-top: 2rem;
}
.portfolio_item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);

}
.portfolio_item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}
.portfolio_item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio_item h3{
margin: 1.2rem 0 2rem;
}

.portfolio_item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* MEDIA QUERIES MEDIUM SCREEN  */
@media screen and (max-width: 1024px) {
    #portfolio{
        margin-top: 2rem;
    }
    .portfolio_container {
        grid-template-columns: repeat(2, 1fr);
    }

  }
/* MEDIA QUERIES SMALL SCREEN  */
@media screen and (max-width: 600px) {
    #portfolio{
        margin-top: 2rem;
    }
    .portfolio_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }



  }
/* MEDIA QUERIES EXTRA SMALL SCREEN  */
@media screen and (max-width: 285px) {
    .portfolio_item {
        padding: 0;
    }
    .portfolio_item-image img{
        width: 90%;
        margin: auto;
        margin-top: 1rem;
        border: 1px solid #2C2C6C;
        border-radius: inherit;

    }
    .portfolio_item h3 {
        font-size: 1rem;
        text-align: center;
    }
    .portfolio_item-cta{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    }


  }